/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400&display=swap');

html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;min-height: 100dvh;
    min-height: 100%;
}

:root {
	// Colors
    --primary-bg-color: #090039;
	// End Of Colors



    // Fonts
    --primary-heading-font: 'Sono', monospace;
    --secondary-heading-font: 'system-ui', sans-serif;

    // End of Fonts


    // layout vars
    --content-size: min(100% - (var(--padding-inline) * 2),
            var(--content-max-width));
    --padding-inline: 1rem;
    --content-max-width: 80ch;
    --breakout-max-width: 95ch;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    // End of layout vars
}

/* // Layout container section */
.full-page-layout {
    display: grid;
    min-height: 100vh; /* Ensure the grid takes at least the viewport height */
}
.grid-content,
.full-width {
    
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Header, Content, Footer */

    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) 
        [breakout-start] minmax(0, var(--breakout-size)) 
        [content-start] var(--content-size) 
        [content-end] minmax(0, var(--breakout-size)) 
        [breakout-end] minmax(var(--padding-inline),
            1fr) 
        [full-width-end];
}

.grid-content>*,
.full-width>* {
    grid-column: content;
}

.grid-content>.breakout {
    grid-column: breakout;
}

.grid-content>.full-width {
    grid-column: full-width;
}

/* // End of Layout container section */

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}