---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="grid-content">
			
			<Header title={SITE_TITLE} />
			<nav>
				<ul>
					<li><a href="nav-link" class="nav-link">Home</a></li>
					<li><a href="nav-link" class="nav-link">Blog</a></li>
					<li><a href="nav-link" class="nav-link">Cool Projects</a></li>
					<li><a href="nav-link" class="nav-link">About Me</a></li>
				</ul>
			</nav>
			<main >
				dwdwad
			</main>
			<Footer />
		</div>
	</body>
</html>
