---
import { Image, Picture } from "astro:assets";
import Layout from "../components/Layout.astro";
import Hero from "../components/Hero.astro";
import SectionHeader from "../utils/SectionHeader.astro";
import tempImg from "../images/rock.jpg";

type alt = string;
---

<Layout>
	<main>
		<Hero />
	</main>
</Layout>
<style lang="scss">
	
</style>
