---
import { Image, Picture } from "astro:assets";
import Layout from "../components/Layout.astro";
import Hero from "../components/Hero.astro";
import SectionHeader from "../components/utils/SectionHeader.astro";
import tempImg from "../images/rock.jpg";
import About from "../components/About.astro";
import PortfolioSlider from "../components/PortfolioSlider.astro"

---

<Layout>
	<main>
		<Hero />
		<About />
		<PortfolioSlider />
	</main>
</Layout>
<style lang="scss">

	
</style>
