---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="full-width">
	<h2 class="brand">GeorgeDoesDev</h2>
		<ul class="social-links breakout">
			<li>Github</li>
			<li>Linkedin</li>
		</ul>
</header>