---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="full-width">
	<div class="brand-wrap">
		<h2 class="brand">&ltGeorgeDoesDev/&gt</h2>
	<ul class="social-links">
		<li>Github</li>
		<li>Linkedin</li>
	</ul>
	<div class="menu-toggle">
		<button>menu</button>
	</div>
	</div>
</header>

<style>
	header {
		width: 100%;
		background-color: var(--primary-bg-color);
		color: #fff;
		padding-block: 1rem;
		font-family: var(--primary-heading-font);
	}
	.brand-wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.social-links{
		display: none;

	}
	@media screen and (min-width: 40em) {
		ul{
			
		}
		.social-links {
		list-style: none;
		display: inline-flex;
		gap: 2rem;
	}
	.menu-toggle{
		display: none;
	}
	}
</style>
