---

---


<div class="button-links grid-content">
    <button class="hero-btn">View Resume</button>
    <button class="hero-btn">View Github</button>
    <button class="hero-btn">View Linkedin</button>
</div>

<style lang="scss">
    .button-links {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        text-align: center;
        gap: 2rem;
        padding: 2rem 0;
    }

    .hero-btn {
        padding: 1em 2em;
        border: 1px solid #FFF;
        border-radius: 5px;        
        grid-column: auto;
        background-color: transparent;
        color: var(--color-text-light);
        font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
        cursor: pointer;
        transition: all 0.35s ease-in-out;
    }

    .hero-btn:hover {
        color: #000;
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.25);
        background-color: #fff;
    }
    @media screen and (max-width: 768px){
        .button-links {
            grid-template-columns: repeat(1, minmax(150px, .8fr));
        }
        
    }
</style>