---
import SectionHeader from '../components/utils/SectionHeader.astro'
import {Slider} from '../components/react/Slider'

---
<section class="portfolio">
    <SectionHeader title="Portfolio" alignment="right"/>
    <div class="portfolio">
        <Slider client:load/>
    </div>
</section>

